In [1]:
from sklearn.cluster import KMeans
import pandas as pd

In [70]:
datapath ="C:/Users/garim/Documents/Capstone/Full data/Normalized/mirna_BRCA_s01s11.csv"
mirna = pd.read_csv(datapath)

In [71]:
tmirna = pd.DataFrame(mirna.transpose())

In [76]:
tmirna.columns = tmirna.iloc[0,:]

In [80]:
tmirna = tmirna.drop('Unnamed: 0')

In [81]:
tmirna.head()

Unnamed: 0,hsa-let-7a-1,hsa-let-7a-2,hsa-let-7a-3,hsa-let-7b,hsa-let-7c,hsa-let-7d,hsa-let-7e,hsa-let-7f-1,hsa-let-7f-2,hsa-let-7g,...,hsa-mir-941-1,hsa-mir-942,hsa-mir-943,hsa-mir-944,hsa-mir-95,hsa-mir-96,hsa-mir-98,hsa-mir-99a,hsa-mir-99b,sampleC
TCGA.A7.A0DC.11A.41R.A090.13,13.1104,13.1029,13.1153,15.6723,12.7474,9.0743,10.1629,10.1028,10.0166,8.01358,...,-1.11667,1.3714,-1.11667,1.72067,1.72067,0.909599,4.57578,11.0677,15.1087,11
TCGA.A7.A0DC.01A.11R.A010.13,13.6551,13.6451,13.6556,15.4102,9.10973,8.85161,9.91041,10.2335,10.2398,8.80894,...,-1.11667,-1.11667,-1.11667,-1.11667,1.43566,3.11916,5.2138,6.7965,14.3536,1
TCGA.AC.A8OS.01A.12R.A41G.13,14.3902,14.3934,14.3984,15.1495,13.1475,8.40681,10.3656,12.9992,13.022,9.30336,...,-1.11667,2.37692,-0.584362,0.109052,2.25782,6.62383,6.02411,11.1755,14.7732,1
TCGA.AC.A8OR.01A.21R.A41G.13,13.9306,13.9275,13.9376,14.988,8.05941,9.28054,10.8798,11.943,11.9256,9.1863,...,-1.11667,3.64182,-1.11667,0.351806,1.89575,5.64306,5.23831,5.73423,15.12,1
TCGA.3C.AALK.01A.11R.A41G.13,14.209,14.2189,14.2261,15.3207,12.1551,9.05178,11.0081,12.2975,12.3288,9.1373,...,-1.11667,2.56224,-1.11667,2.56224,1.61073,6.8753,6.05139,10.6724,15.211,1

In [83]:
tmirna_sample = tmirna.iloc[:,-1]

In [86]:
tmirna = tmirna.drop('sampleC', axis = 1)

In [122]:
sample = pd.DataFrame(list(tmirna_sample))

In [116]:
kmeans = KMeans(n_clusters = 2)
kmeans_tmirna = kmeans.fit(tmirna)
labels = kmeans_tmirna.predict(tmirna)
centroids = kmeans_tmirna.cluster_centers_

In [123]:
labels = pd.DataFrame(list(labels))

In [124]:
labels.head()

      0
0     1
1     0
2     1
3     0
4     1
5     1
6     0
7     0
8     0
9     0
10    0
11    0
12    1
13    0
14    1
15    1
16    0
17    1
18    1
19    1
20    0
21    0
22    1
23    1
24    1
25    1
26    0
27    1
28    0
29    0
...  ..
1169  1
1170  1
1171  1
1172  0
1173  1
1174  1
1175  0
1176  0
1177  1
1178  0
1179  0
1180  0
1181  0
1182  1
1183  0
1184  0
1185  1
1186  0
1187  0
1188  1
1189  1
1190  1
1191  0
1192  0
1193  1
1194  1
1195  0
1196  0
1197  1
1198  0

[1199 rows x 1 columns]

In [125]:
sample.head()

         0
0     11.0
1      1.0
2      1.0
3      1.0
4      1.0
5      1.0
6      1.0
7      1.0
8      1.0
9      1.0
10     1.0
11     1.0
12     1.0
13     1.0
14     1.0
15     1.0
16     1.0
17     1.0
18     1.0
19     1.0
20     1.0
21     1.0
22     1.0
23     1.0
24     1.0
25     1.0
26     1.0
27     1.0
28     1.0
29     1.0
...    ...
1169   1.0
1170  11.0
1171   1.0
1172   1.0
1173   1.0
1174   1.0
1175   1.0
1176   1.0
1177   1.0
1178   1.0
1179   1.0
1180   1.0
1181   1.0
1182   1.0
1183   1.0
1184   1.0
1185  11.0
1186   1.0
1187   1.0
1188   1.0
1189   1.0
1190   1.0
1191   1.0
1192   1.0
1193  11.0
1194  11.0
1195   1.0
1196   1.0
1197   1.0
1198   1.0

[1199 rows x 1 columns]

In [ ]:
classes = pd.concat([labels, sample], axis=1)
classes.columns = ['cluster','sample']

In [130]:
classes.head()

      cluster  sample
0           1    11.0
1           0     1.0
2           1     1.0
3           0     1.0
4           1     1.0
5           1     1.0
6           0     1.0
7           0     1.0
8           0     1.0
9           0     1.0
10          0     1.0
11          0     1.0
12          1     1.0
13          0     1.0
14          1     1.0
15          1     1.0
16          0     1.0
17          1     1.0
18          1     1.0
19          1     1.0
20          0     1.0
21          0     1.0
22          1     1.0
23          1     1.0
24          1     1.0
25          1     1.0
26          0     1.0
27          1     1.0
28          0     1.0
29          0     1.0
...       ...     ...
1169        1     1.0
1170        1    11.0
1171        1     1.0
1172        0     1.0
1173        1     1.0
1174        1     1.0
1175        0     1.0
1176        0     1.0
1177        1     1.0
1178        0     1.0
1179        0     1.0
1180        0     1.0
1181        0     1.0
1182        1     1.0
1183        0     1.0
1184        0     1.0
1185        1    11.0
1186        0     1.0
1187        0     1.0
1188        1     1.0
1189        1     1.0
1190        1     1.0
1191        0     1.0
1192        0     1.0
1193        1    11.0
1194        1    11.0
1195        0     1.0
1196        0     1.0
1197        1     1.0
1198        0     1.0

[1199 rows x 2 columns]

In [132]:
classes.groupby(['sample'])['cluster'].sum()

sample
1.0     441
11.0    103
Name: cluster, dtype: int64

In [133]:
classes.to_csv("C:/Users/garim/Documents/Capstone/Full data/Normalized/classes.csv")