In [45]:
from sklearn.cluster import KMeans
import pandas as pd

In [95]:
datapath ="C:/Users/garim/Documents/Capstone/Full data/Normalized/mirna_BRCA_s01s11.csv"
mirna = pd.read_csv(datapath)

In [47]:
mirna.tail()

,Unnamed: 0,TCGA.A7.A0DC.11A.41R.A090.13,TCGA.A7.A0DC.01A.11R.A010.13,TCGA.AC.A8OS.01A.12R.A41G.13,TCGA.AC.A8OR.01A.21R.A41G.13,TCGA.3C.AALK.01A.11R.A41G.13,TCGA.4H.AAAK.01A.12R.A41G.13,TCGA.5T.A9QA.01A.11R.A41G.13,TCGA.3C.AALI.01A.11R.A41G.13,TCGA.S3.AA0Z.01A.11R.A41G.13,...,TCGA.BH.A0BM.01A.11R.A057.13,TCGA.AR.A0TY.01A.12R.A114.13,TCGA.A8.A090.01A.11R.A010.13,TCGA.E2.A1B6.01A.31R.A12O.13,TCGA.BH.A0C3.11A.23R.A12O.13,TCGA.BH.A0B3.11B.21R.A090.13,TCGA.BH.A0HU.01A.11R.A035.13,TCGA.A2.A0YM.01A.11R.A108.13,TCGA.AO.A1KO.01A.31R.A13P.13,TCGA.B6.A1KN.01A.11R.A13P.13
1442,hsa-mir-96,0.909599,3.119156,6.623835,5.643060,6.875302,5.221532,5.760556,6.488412,3.596957,...,3.035602,4.231193,3.864304,4.416964,3.398465,2.044207,5.559350,7.617683,3.212556,5.135027
1443,hsa-mir-98,4.575778,5.213796,6.024108,5.238306,6.051392,5.970964,5.469045,6.988962,5.480847,...,5.906645,5.927832,6.050349,5.917871,5.090575,4.895672,6.144420,6.214695,5.631589,5.688882
1444,hsa-mir-99a,11.067672,6.796498,11.175484,5.734234,10.672351,10.912008,6.983234,8.454096,9.900810,...,10.858881,10.006613,7.222275,10.270672,11.304607,11.991695,8.541484,8.073252,11.447378,8.735575
1445,hsa-mir-99b,15.108682,14.353599,14.773166,15.119998,15.211001,15.504656,15.206863,14.197938,14.268933,...,14.985406,16.414553,14.915863,13.971565,14.040227,14.037241,15.123649,13.187416,14.680310,14.974563
1446,sampleC,11.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,11.000000,11.000000,1.000000,1.000000,1.000000,1.000000

In [96]:
mirna = mirna.set_index('Unnamed: 0')

In [97]:
sample = (mirna.iloc[-1,:])

In [98]:
sample = pd.DataFrame(sample)

In [ ]:
sample.head()

In [100]:
mirna = mirna.drop('sampleC')

In [197]:
kmeans = KMeans(n_clusters = 20)
kmeans_mirna = kmeans.fit(mirna)
labels = kmeans_mirna.predict(mirna)
centroids = kmeans_mirna.cluster_centers_

In [198]:
labels = pd.DataFrame(list(labels))

In [199]:
labels = labels.set_index(mirna.index)

In [200]:
clustered_dat = pd.concat([mirna,labels], axis =1,join_axes=[mirna.index])

In [201]:
clustered_dat.shape

(1446, 1200)

In [202]:
clustered_dat.columns.values

array(['TCGA.A7.A0DC.11A.41R.A090.13', 'TCGA.A7.A0DC.01A.11R.A010.13',
       'TCGA.AC.A8OS.01A.12R.A41G.13', ...,
       'TCGA.AO.A1KO.01A.31R.A13P.13', 'TCGA.B6.A1KN.01A.11R.A13P.13', 0],
      dtype=object)

In [203]:
freq = pd.DataFrame(clustered_dat.groupby([0])[0].count())

In [204]:
freq

      0
0
0   212
1    25
2    17
3    21
4   720
5    15
6    45
7    26
8   111
9    23
10   31
11   10
12   15
13   42
14   42
15   11
16   18
17   28
18   15
19   19

In [205]:
centroids = pd.DataFrame(centroids.transpose())

In [206]:
centroids.index = mirna.columns

In [207]:
sample.shape

(1199, 1)

In [208]:
centroids.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
TCGA.A7.A0DC.11A.41R.A090.13,-0.760695,6.520491,11.747171,3.604015,-1.049764,9.792798,1.157887,7.265593,-0.308926,5.711909,2.672153,15.715584,3.406372,1.096643,-0.252464,12.863767,2.375631,9.294644,2.411235,6.419692
TCGA.A7.A0DC.01A.11R.A010.13,-0.829401,6.317356,10.857393,4.035408,-1.085768,9.581895,0.766017,7.171740,-0.659247,5.362952,1.337844,14.912336,2.273658,0.008035,-0.008819,13.291027,2.448516,8.328471,2.719272,4.018064
TCGA.AC.A8OS.01A.12R.A41G.13,-0.788514,7.492944,12.623698,4.748481,-1.040788,10.559750,1.110105,8.265521,-0.137680,5.703142,3.218545,16.287543,4.889464,0.864479,-0.188574,14.354974,2.477725,9.750387,3.257131,5.741632
TCGA.AC.A8OR.01A.21R.A41G.13,-0.732340,6.388522,11.249369,4.658093,-1.047576,10.053602,1.339835,7.862045,-0.225350,5.922839,0.816096,15.397709,1.443746,0.660568,0.002330,13.630837,2.809014,8.245320,3.182078,4.210631
TCGA.3C.AALK.01A.11R.A41G.13,-0.766167,7.317819,12.504003,4.949560,-1.051849,10.971887,1.441490,8.327724,0.061568,5.807698,2.621006,16.238532,4.448453,1.051394,0.140586,14.169760,3.275832,9.648714,3.362316,5.196518

In [209]:
type(centroids)

pandas.core.frame.DataFrame

In [210]:
type(sample)

pandas.core.frame.DataFrame

In [211]:
sample_centroid = centroids.merge(sample,left_index=True, right_index=True)

In [212]:
sample_centroid.head()

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,sampleC
TCGA.A7.A0DC.11A.41R.A090.13,-0.760695,6.520491,11.747171,3.604015,-1.049764,9.792798,1.157887,7.265593,-0.308926,5.711909,...,15.715584,3.406372,1.096643,-0.252464,12.863767,2.375631,9.294644,2.411235,6.419692,11.0
TCGA.A7.A0DC.01A.11R.A010.13,-0.829401,6.317356,10.857393,4.035408,-1.085768,9.581895,0.766017,7.171740,-0.659247,5.362952,...,14.912336,2.273658,0.008035,-0.008819,13.291027,2.448516,8.328471,2.719272,4.018064,1.0
TCGA.AC.A8OS.01A.12R.A41G.13,-0.788514,7.492944,12.623698,4.748481,-1.040788,10.559750,1.110105,8.265521,-0.137680,5.703142,...,16.287543,4.889464,0.864479,-0.188574,14.354974,2.477725,9.750387,3.257131,5.741632,1.0
TCGA.AC.A8OR.01A.21R.A41G.13,-0.732340,6.388522,11.249369,4.658093,-1.047576,10.053602,1.339835,7.862045,-0.225350,5.922839,...,15.397709,1.443746,0.660568,0.002330,13.630837,2.809014,8.245320,3.182078,4.210631,1.0
TCGA.3C.AALK.01A.11R.A41G.13,-0.766167,7.317819,12.504003,4.949560,-1.051849,10.971887,1.441490,8.327724,0.061568,5.807698,...,16.238532,4.448453,1.051394,0.140586,14.169760,3.275832,9.648714,3.362316,5.196518,1.0

In [222]:
summary = sample_centroid.groupby(['sampleC'])[sample_centroid.columns[:-1]].mean()

In [214]:
#summary['count']=sample_centroid.groupby(['sampleC'])['sampleC'].count()

In [223]:
summary.round(1)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
sampleC,,,,,,,,,,,,,,,,,,,,
1.0,-0.7,6.9,11.7,4.8,-1.0,10.2,1.4,8.1,-0.2,5.8,2.1,15.5,3.4,0.6,0.3,13.3,2.9,9.1,3.7,4.5
11.0,-0.8,6.5,12.1,4.1,-1.1,10.1,1.0,7.6,-0.3,5.8,3.2,15.6,3.4,1.2,-0.2,12.7,2.3,9.4,2.7,6.3

In [224]:
freq.transpose()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,212,25,17,21,720,15,45,26,111,23,31,10,15,42,42,11,18,28,15,19